/*test comment*/

html, body {
  
  font-family: 'Open Sans', sans-serif;;
}

.clock {
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;/*15% viewport*/
	
}


.clock h1 {
	
	text-align: center;
	font-size: 60px;
}

.row {
	/*background: url('bg.jpg');
	background-size: cover;
	/*height: 550px;
	padding-top:55px;
	*/
}

body {
	/*height:100%;
	width:100%;*/
	background:url('bg.jpg') no-repeat center center fixed;
	/*background-repeat:no-repeat;*/
	background-size:cover;
	/*background-color: rgb(214,215,207);*/
}


ul {
	list-style-type:none;
}

nav .col-md-4{
	/*padding: 30px 0 30px 0 ;*/
	padding-top: 30px;
	padding-bottom: 30px;
}

.site {
	min-width: 300px;
	min-height: 50px;
	background: rgba(75,75,75,.7);
	display:table;
	position:relative;
}

.btn {
	border-style: solid;
	border-color: rgba(75,75,75,.9);
	border-width: 3px;
}

.tablediv {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	
	
	/*position:relative;
	top:50%;
	/*transform:translateY(-50%);*/
	
	/*margin-top: auto;
	margin-bottom: auto;*/
}

.site div {
	position:absolute;
	width: 100%;
	text-align: left;
	left: 80%;
	color:white;
	font-size: 20px;
	
}

.site img {
	position:absolute;
	width: 26px;
	height: 26px;
	left: 15%;
	
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring; your own prefixes */
  transform: translate(-50%, -50%);
}



html, body {
	overflow-x: hidden;
	
}

nav {
	text-align:center;
	
}

.rssFeed {
	top : 75%;
	
}









/*
.button {
	position:relative;
	margin:5px 10px;
	display:inline-block;
}

.button > a{
	display:inline-block;
	min-width:140px;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 5px;
	border-width: 2px;
	border-style: solid;
	outline:none;
	
	
}

.button > a:after {
	display:inline-block;
	min-width:140px;
	font-size:18px;
	
	border-style:solid;
	
	border-left-width: 5px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-width: 5px;
	
	border-top-color:transparent;
	border-bottom-color:transparent;
	
	margin: 0px 10px 0 8px;
	float:right;
	
	
	
	
}*/


/*
@media screen and (max-device-width : 640px) and (orientation:portrait){

	body {
		background: url('images/wallpaper.png') no-repeat;
		background-size: 100% auto;
}
}*/